body{
	font-size: 10px;
}
.recieveText{
	border-radius: 10px;
	background-color: #DBDBDB;
	color: black;
	margin-left: 650px;
	white-space: normal;
	word-wrap: break-word;
	padding: 10px;
}

.sendText{
	border-radius: 10px;
	background-color: #0061FF;
	color: white;
	white-space: normal;
	word-wrap: break-word;
	padding: 10px;
}



